* {
  box-sizing: border-box;
  font-size: 24px;
}

.nav-bar {
  background-color: rgb(250, 253, 255);
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(150, 150, 150);
}
